/* 
Developer Details:
Name - Soumitra Saha
Email - soumitrosahaofficial@gmail.com
*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* 1. General Section */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


:root {
    /* Background Color */
    --primary-color: #021832;
    /* --secondary-color: #caa169; */
    --secondary-color: #f77f00;
    --bg-color: #f4f4f4;
    --bg-white: #fff;
    --bg-black: #000;

    /* Text Style */
    --primary-font: 'Poppins', sans-serif;
    --secondary-font: 'Oswald', sans-serif;
    --primary-text: #021832;
    /* --secondary-text: #caa169; */
    --secondary-text: #f77f00;
    --text-white: #fff;
    --text-black: #151515;
    --text-gray: #e4e4e4;
}


body {
    font-family: var(--primary-font);
    background-color: var(--bg-white);
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}

.card-registration .select-arrow {
    top: 13px;
}

.main-btn {
    font-size: 1rem;
    font-weight: 500;
    color: var(--primary-color);
    text-transform: uppercase;
    background-color: transparent;
    border: 0.0625rem solid var(--primary-color);
    padding: .375rem 1.875rem;
    border-radius: 3.125rem;
    line-height: 1.75rem;
    display: inline-block;
    transition: all 0.3s ease-out 0s;
}

.main-btn:hover {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: var(--text-white);
}

.registration-form {
    position: relative;
    width: auto;
    margin-top: 16px;
    min-height: 550px;
    background-color: var(--bg-white);
}

.container form .form {
    position: absolute;
    background-color: var(--bg-white);
    transition: 0.3s ease;
}